/*Reset style{{{*/
html {
    color:#000;
    background:#FFF
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin:0;
    padding:0
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset,
img {
    border:0
}
img {
    vertical-align:bottom;
}
address,
caption,
cite,
code,
dfn,
em,
var {
    font-style:normal;
    font-weight:normal
}
li {
    list-style:none
}
caption {
    text-align:left
}
q:before,
q:after {
    content:''
}
abbr,
acronym {
    border:0;
    font-variant:normal
}
sup {
    vertical-align:text-top
}
sub {
    vertical-align:text-bottom
}
input,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit
}
input,
textarea,
select {
    *font-size:100%
}
a {
    text-decoration:none;
}
/*}}}*/
/*Common style{{{*/
/* 鼠标指针 .pro {{{ */
.por {
	cursor: pointer;
}
/* }}} */

/* 隐藏元素 .hidden {{{ */
.hidden {
	display: none;
}
/* }}} */

/* 清除浮动 .clear {{{ */
.clear {
	clear:both;
	zoom:1;
}
.clear:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}
/* }}} */
/*}}}*/

/*Layout style{{{*/
.ui-tree {
    font:12px/1.5 '微软雅黑', Tahoma, sans-serif
}
.ui-tree a {
    color:#000;
}

/*button*/
.ui-tree .btn {
    display:inline-block;
    width:16px;
    height:22px;
    background-color:#FFF;
    cursor:pointer;
}
/*Close*/
.ui-tree .c-btn {
    background-image:url(../img/icon-2.gif);
}
/*Open*/
.ui-tree .o-btn {
    background-image:url(../img/icon-3.gif);
}
/*Last Close*/
.ui-tree .last-item .c-btn {
    background-image:url(../img/icon-5.gif);
}
/*Last Open*/
.ui-tree .last-item .o-btn {
    background-image:url(../img/icon-6.gif);
}

/*list*/
.ui-tree .item {
    line-height:24px;
}
.ui-tree .item ul {
}
.ui-tree .child-item {
    margin-left:10px;
}
.ui-tree .item .haschild {
    margin-left:22px;
}
.ui-tree .f-item,
.ui-tree .haschild {
    background:url(../img/line-0.gif) repeat-y 0 20px;
}
.ui-tree .last-item {
    margin-top:-2px;
    background-image:none;
}
/*}}}*/
